/* styles.css */

body {
  font-family: Arial, sans-serif;
  background-color: gainsboro; /* Color de fondo gris */
  height: 100vh;
  width: 100%;
  background-size:  100%;
  background-image: url('./imagenes/Fondo.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
}

.form-group {
  margin-bottom: 20px;
}

#task-list {
  list-style-type: none;
  padding-left: 0;
}

.task-item {
  background-color: #a569bd; /* Color de fondo de cada tarea */
  margin-bottom: 5px;
  border-radius: 3px;
}

.task-item.completed {
  background-color: #e9ecef; /* Color de fondo para tareas completadas */
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}

.btn-primary:focus,
.btn-primary.focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}

.main-task {
  display: block;
  align-items: center;
  width: 100%;
}

.footer {
  background-color: rebeccapurple;
  color: white;
  width: 50%;
  margin: auto;
  bottom: 1rem;
  position: absolute;
  left: 25%;
  display: flex;
  justify-content: center;
  border: solid 3px green;
  border-radius: 1rem;
}


.footer:hover {
  background-color: white;
  color: black;
  width: 50%;
  margin: auto;
  bottom: 1rem;
  position: absolute;
  left: 25%;
  display: flex;
  justify-content: center;
  border: solid 3px black;
  border-radius: 1rem;
}

.footer {
  background-color: #0056b3;
  color: aqua;
  width: 50%;
  margin: auto;
  
}

.elemento-tarea {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 1rem;
}

.elemento-tarea button {
  margin-left: 1rem;
  width: 20%;
}

.elemento-nombre-fecha {
  width: 40%; 
}

.list-group {
  border: 1px dotted gainsboro;  
  max-height: 50vh;
  overflow: auto;
}

ul{
  list-style-type: none;
}

li {
  padding-top: 1rem;
  border: 1px dotted gainsboro;
}

.redes-sociales i{
  font-size: 3rem;
  margin: 1.5rem;
  border-radius: 25%;
  border: 1px solid gainsboro;
  padding: 1rem;
  display: flex;
  width: fit-content;
}
.redes-sociales a:hover{
  background-color: white;
  color: white;
}

.bi-twitter{
  color: rgb(53, 182, 233);
}

.bi-facebook{
  color: blue
}

.bi-linkedin{
  color: #007bff;
}

.elemento-redes{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}